<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
  	Smart Vision System - Personnel tracking system using facial recognition by
    <a href="mailto:cabayaratne@gmail.com">Chamal Abayaratne</a>
  </div>
  <!-- Copyright -->

</footer>