<nav class="navbar navbar-expand-lg navbar-light bg-light">

	
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('live.livepage') }}">Live view</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('movement.movements') }}">Movements</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('stats.stats_view') }}">Stats</a>
			</li>

		</ul>
	</div>
</nav>