{% extends "base.html" %}

{% block title %}Smart Vision System{% endblock %}

{% block body %}

<h4>
	Smart Vision System
</h4>

<p><strong>Features</strong></p>
<ul>
<li>Connect IP cameras using RTSP protocol</li>
<li>Facial recognition</li>
<li>Live view of camera feed</li>
<li>Review movement records</li>
<li>View movement stats with a graph</li>
<li>Integration with IOT devices / messsaging services using Python lanugage</li>
</ul>


{% endblock %}
