{% extends "base.html" %}

{% block title %}Live View{% endblock %}

{% block body %}

<h4>
	Live view
</h4>
	<div class="container">

		<div class="row">
			<div class="col-sm">
				<!--  -->
			</div>
			<div class="col-sm">
				<img src="{{ url_for('live.video_feed') }}">
			</div>
			<div class="col-sm">
			</div>
		</div>

	</div>


{% endblock %}