{% extends "base.html" %}

{% block title %}Movements{% endblock %}

{% block body %}

<h4>
	Movements
</h4>
<table id="MovementsTable"  class="table table-striped table-bordered" style="width:100%"></table>

<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "{{ url_for('movement.movements') }}";
var method = 'POST';

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myArr = JSON.parse(this.responseText);

        for (let i of myArr) {
            i.timein = unixToTimestr(i.timein);
            i.timeout = unixToTimestr(i.timeout);
        }
        tasksFunction(myArr);
    }
};

xmlhttp.open(method, url, true);
xmlhttp.send();

function tasksFunction(arr) {
    var tasks_table = $('#MovementsTable').DataTable(
    	{
    		data: arr,
    		pageLength: 100,
    		// lengthChange: false,
    		columns: [
    		{ data: 'idmovement' ,title:'index'},
    		{ data: 'cameraid' ,title:'Area/Camera'},
    		{ data: 'name' ,title:'Name'},
    		{ data: 'timein' ,title:'Time in'},
    		{ data: 'timeout' ,title:'Time out'},
    		]
    	});

    $(tasks_table.table().header().rows).clone(true).appendTo( tasks_table.table().header() );
    $(tasks_table.table().header().rows[1].cells).each( function (i) {
        var title = $(this).text();
        $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( tasks_table.column(i).search() !== this.value ) {
                tasks_table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    tasks_table.draw()
}


function unixToTimestr(unixTime) {
    /*
    This function converts unix timestamp to m2l5 signal styled
    remember to offset the time diffeence
    */
    // let time_diff = new Date().getTimezoneOffset()*60;
    // check for null
    if (unixTime == null){
    	return ``;
    }

    let date_obj = new Date((unixTime)*1000);

    let year = date_obj.getFullYear();
    let month = String(date_obj.getMonth()+1).padStart(2,0);
    let date = String(date_obj.getDate()).padStart(2,0);
    let hour = String(date_obj.getHours()).padStart(2,0);
    let minute = String(date_obj.getMinutes()).padStart(2,0);
    let second = String(date_obj.getSeconds()).padStart(2,0);
    return `${year}-${month}-${date} ${hour}:${minute}:${second}`;
}

</script>


{% endblock %}