{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block body %}


<h4>Stats</h4>
<h5>Stats - Chart view</h5>

<div class="chart-container" style="width:100%">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>


<h5>Stats - Table view</h5>
<table id="StatsTable"  class="table table-striped table-bordered" style="width:100%"></table>




<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "{{ url_for('stats.stats_view') }}";
var method = 'POST';

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myArr = JSON.parse(this.responseText);

        for (let i of myArr.table) {
            i.time = unixToTimestr(i.time);
        }

        tasksFunction(myArr.table);
        drawChart(myArr.chart);
    }
};

xmlhttp.open(method, url, true);
xmlhttp.send();

function tasksFunction(arr) {
    var tasks_table = $('#StatsTable').DataTable(
    	{
    		data: arr,
    		pageLength: 20,
    		// lengthChange: false,
    		columns: [
    		{ data: 'idremain' ,title:'index'},
    		{ data: 'cameraid' ,title:'Area/Camera'},
    		{ data: 'time' ,title:'Time'},
    		{ data: 'remain' ,title:'Person Count'},
    		]
    	});

    $(tasks_table.table().header().rows).clone(true).appendTo( tasks_table.table().header() );
    $(tasks_table.table().header().rows[1].cells).each( function (i) {
        var title = $(this).text();
        $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( tasks_table.column(i).search() !== this.value ) {
                tasks_table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    tasks_table.draw()
}

function drawChart(arr){
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: { datasets: arr },
      options: {
        maintainAspectRatio: false,
        responsive : true,
        elements : {
            line : {
                tension : 0 // disables bezier curves
            }
        },
        scales: {
          xAxes: [{
            type: 'time'
          }]
        }
      }
    });
}


function unixToTimestr(unixTime) {
    /*
    This function converts unix timestamp to m2l5 signal styled
    remember to offset the time diffeence
    */
    // let time_diff = new Date().getTimezoneOffset()*60;
    // check for null
    if (unixTime == null){
    	return ``;
    }

    let date_obj = new Date((unixTime)*1000);

    let year = date_obj.getFullYear();
    let month = String(date_obj.getMonth()+1).padStart(2,0);
    let date = String(date_obj.getDate()).padStart(2,0);
    let hour = String(date_obj.getHours()).padStart(2,0);
    let minute = String(date_obj.getMinutes()).padStart(2,0);
    let second = String(date_obj.getSeconds()).padStart(2,0);
    return `${year}-${month}-${date} ${hour}:${minute}:${second}`;
}

</script>


{% endblock %}